
{% extends "@EBMGDP/bundleLayout.html.twig" %}

{# Titre de l'onglet #}
{% block title %}
    Gestion du matériel
{% endblock %}

{# CSS propres à cette page #}
{% block stylesheets %}
 <style>

 </style>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
    <script>

        $(document).ready(function(){
            $("th").mousedown(function(){
                $(this).addClass("active");
            });
            $("th").mouseup(function(){
                $(this).removeClass("active");
            });

        });
    </script>
{% endblock %}


{# Contenu de la page #}

{% block content_body %}

    <table class="table table-striped table-bordered">

        <tr>
            <th></th>
            <th><p>Lundi</p></th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
        </tr>

        <tr>
            <th>Matin</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th>Après-midi</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </table>



{% endblock %}


{# Scripts propres à cette page #}
{% block scripts %}


{% endblock %}
