{% extends "EBMSocialNetworkBundle::layout.html.twig" %}

{% block body %}

    <h2>Ajouter une annonce Monsieur {{ app.user.username }}</h2>

    {{ include("EBMSocialNetworkBundle:Publication:form.html.twig") }}

    <p>
        Attention : cette annonce sera ajoutée directement
        sur la page d'accueil après validation du formulaire.
    </p>

    {% block content_body %}
    {% endblock %}

{% endblock %}