{# Contenu de la page #}
{% block content_body %}
    <div class="page-profile">
        <div class="page-content">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Vue detail de la tâche: {{ publication.userPublication.username }}</h3>
                </div>
                <div class="panel-body">

                    <div id="body_task">
                        {{ publication.content }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{# Scripts propres à cette page #}
{% block scripts %}
{% endblock %}