<div class="well">
    <div class="row">
        <div class="col-md-3">
            {{ form(projectform) }}
        </div>
        <div class="col-md-9">
            {% for projectSubscriptions in userprojects %}
                <span class="badge badge-primary" style="margin-right: 8px;">{{ projectSubscriptions.name }}</span>
            {% endfor %}
        </div>
    </div>
</div>