# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

parameters:
    database_host: 127.0.0.1
    database_port: 8889
    database_name: ebm_filrouge
    database_user: xxxx
    database_password: xxxxx


