{% extends "EBMKMBundle::bundleLayout.html.twig" %}


{% block content_body %}

    <a href="{{ path('ebmkm_document_index') }}">Retour aux documents</a>

    Upload d'un document
    {{ form(form) }}
{% endblock %}