{% extends "@FOSUser/fosUserLayout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="brand">
        <h2 class="brand-text font-size-18">{{ 'resetting.password_already_requested'|trans }}</h2>
    </div>
{% endblock fos_user_content %}
