{% extends "EBMKMBundle::bundleLayout.html.twig" %}


{% block content_body %}
    <div class ="page-header ">
        <h1 class ="page-title ">
            Création d'un topic 
        </h1>
    </div>

    {{ form(form) }}
   {# TO DO : Editeur WYSIWYG
     <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Standard Editor</h3>
        </div>
        <div class="panel-body">
            <div id="summernote" data-plugin="summernote">
            </div>
        </div>
    </div>
    #}

{% endblock %}

