{% extends "EBMKMBundle::bundleLayout.html.twig" %}


{% block content_body %}
    <div class ="page-header ">
        <h1 class ="page-title ">
            Création d'un topic 
        </h1>
    </div>

    {{ form(form) }}
{% endblock %}

