{% extends "EBMKMBundle::bundleLayout.html.twig" %}
{% block content_body %}
    Hello World! 2

    {% for tag in tags %}
        <p>{{ tag.name }}</p>
    {% else %}
        No tag
    {% endfor %}
{% endblock %}



