<div class="panel" id="projects">
    <div class="panel-heading">
        <h3 class="panel-title">Livrables</h3>
    </div>
    <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Nom</td>
                <td>Type</td>
                <td>Date de modification</td>
                <td>Nombre de livrables existants</td>
            </tr>
            </thead>
            <tbody>
            {% if listDocumentProjects is not null %}
            {% for documentProject in listDocumentProjects %}
            <tr>

                    <td>{{ documentProject.name|upper }}</td>
                    <td>
                        {{ documentProject.documentTypeProject.name }}
                    </td>
                    <td>{{ documentProject.modificationDate|date('Y-m-d') }}
                    </td>
                    <td>
                        {{ documentProject.projects|length }}
                    </td>

            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    </div>
</div>