<div class="panel" id="projects">
    <div class="panel-heading">
        <h3 class="panel-title">Informations sur les tâches</h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6 col-lg-4">
            <!-- Example Donut -->
            <div class="wrap">
                <h4 class="title">Donut</h4>
                <p>On retrouve ici l'analyse par status des tâches </p>
                <div class="text-center max-width">
                    <canvas id="donutTask" height="510" width="614" style="width: 307px; height: 255px;"></canvas>
                </div>
            </div>
            <!-- End Example Donut -->
        </div>
    </div>
</div>

